<!DOCTYPE html>
<html>
    <head>
        <title>Books</title>
        <style type="text/css">
        </style>
    </head>
    <body>
        <h1><%= book.title %></h1>
        <h2>By: <%= book.Author.fullName %></h2>
    </body>
</html>
